@model List<MediCitasWeb.Models.Usuario>
@{
    ViewBag.Title = "Usuarios - Panel Administrativo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-container">

    <h2 class="section-title">Listado de usuarios</h2>

    <div class="report-buttons" style="margin-bottom:15px;">
        <a href="@Url.Action("CrearDoctor","Admin")" class="btn-primary">+ Crear Doctor</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <td>@u.numero_documento</td>
                    <td>@u.nombres_usuario @u.apellidos_usuario</td>
                    <td>@u.correo_usuario</td>
                    <td>@u.rol_usuario</td>
                </tr>
            }
        </tbody>
    </table>

</div>
