@model MediCitasWeb.Models.Usuario

@{
    ViewBag.Title = "Asignación de Citas";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>

<body>

    <div class="container mt-4">

        <h4 class="fw-bold">ASIGNACIÓN DE CITAS</h4>

        <hr />

        <h5>INFORMACIÓN DEL AFILIADO</h5>

        <div class="row">

            <div class="col-md-4">
                <label>Documento</label>
                <input class="form-control"
                       value="@Model.numero_documento" disabled />
            </div>

            <div class="col-md-4">
                <label>Nombre</label>
                <input class="form-control"
                       value="@Model.nombres_usuario @Model.apellidos_usuario" disabled />
            </div>

            <div class="col-md-4">
                <label>Correo</label>
                <input class="form-control"
                       value="@Model.correo_usuario" disabled />
            </div>

        </div>

        <hr />

        <h5>AGENDAR CITA</h5>

        <form method="post" action="@Url.Action("GuardarCita","Pages")">

            <div class="row">

                <div class="col-md-3">

                    <label>Especialidad</label>

                    <select name="especialidad" class="form-control">

                        <option>Medicina General</option>
                        <option>Pediatría</option>
                        <option>Cardiología</option>

                    </select>

                </div>

                <div class="col-md-3">

                    <label>Tipo consulta</label>

                    <select name="tipoConsulta" class="form-control">

                        <option>Primera vez</option>
                        <option>Seguimiento</option>

                    </select>

                </div>

                <div class="col-md-3">

                    <label>Fecha</label>

                    <input type="date"
                           name="fechaCita"
                           class="form-control"
                           required />

                </div>

                <div class="col-md-3">

                    <label>Hora</label>

                    <select name="horaCita"
                            class="form-control">

                        <option value="08:00:00">08:00 AM</option>
                        <option value="09:00:00">09:00 AM</option>
                        <option value="10:00:00">10:00 AM</option>

                    </select>

                </div>

            </div>

            <br>

            <button class="btn btn-success">

                Confirmar Cita

            </button>

        </form>

    </div>

</body>

</html>